html, body {
  height: 100%;
  margin: 0;
  scroll-snap-type: y mandatory; 
  overflow-y: scroll;
  scroll-behavior: smooth;       
}

@media (max-width: 768px) {
  html, body {
    scroll-snap-type: none;  
  }
}