html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

#root {
  min-height: 100%;
}

@media (max-width: 768px) {
  html, body {
    scroll-snap-type: none;  
  }
}